services:
  # --- Web (FrankenPHP + Laravel) ---
  web:
    build:
      context: .
      dockerfile: docker/frankenphp/Dockerfile
    container_name: h-dashboard-web
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
      - ./docker/frankenphp/Caddyfile:/etc/caddy/Caddyfile
      - ./docker/frankenphp/init.sh:/init.sh
    ports:
      - "80:8000"
      - "443:443"
    environment:
      APP_ENV: ${APP_ENV}
      APP_DEBUG: ${APP_DEBUG}
      APP_KEY: ${APP_KEY}
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      FRANKENPHP_CONFIG: fpm
    depends_on:
        mysql:
           condition: service_healthy
    restart: unless-stopped
    command: sh /init.sh

  # --- MySQL Database ---
  mysql:
    image: mysql:8.0
    container_name: h-dashboard-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 10

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: unless-stopped
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    depends_on:
      - mysql
   # --- Redis ---
  redis:
    image: redis:latest
    container_name: h-dashboard-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    volumes:
      - redis_data:/data

  # --- phpRedisAdmin ---
  phpredisadmin:
    image: docker.kernel.ir/erikdubbelboer/phpredisadmin:latest
    container_name: h-dashboard-phpredisadmin
    restart: unless-stopped
    environment:
      - REDIS_1_HOST=redis
      - REDIS_1_PORT=6379
      - REDIS_1_AUTH=${REDIS_PASSWORD}
    ports:
      - "8083:80"
    depends_on:
      - redis

volumes:
  mysql_data:
  redis_data:
